/* base level hierarchy */
html,
body {
  background: #cccccc;
  font-family: "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
header {
  background-color: #155DA1;
  margin: 0 auto;
  padding: 7px;
  text-align: center;
}
nav {
  margin: 0 auto 5px;
  text-align: center;
  width: 100%;
}
#content {
  margin: 0 auto;
  max-width: 960px;
  overflow: auto;
  padding: 10px;
  padding-bottom: 65px;
}
footer {
  background-color: #163B5E;
  clear: both;
  color: #eeeeee;
  font-size: 0.8em;
  height: 65px;
  margin-top: -40px;
  padding: 7px;
  text-align: center;
}

/* base level elements */
a {
  color: #cadeea;
}
h1 {
  color: #fcfcfc;
  font-size: 2.2em;
  margin: 0;
}
button {
  font-size: 0.75em;
  height: 21px;
  width: 120px;
}
input[type=radio] {
  margin: 0;
  padding: 0;
}
input.jscolor {
  bottom: 2px;
  margin-left: 1px;
  position: relative;
  width: 50px;
}

/* custom sections */
header a {
  display: block;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  height: 10px;
  position: relative;
  top: -30px;
  width: 30px;
  text-decoration: none;
}
header div {
  background: #ffffff;
  border: 1px solid #163B5E;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
  display: none;
  font-size: 0.9em;
  padding: 10px;
  position: fixed;
  right: 5px;
  text-align: left;
  width: 300px;
  z-index: 3000;
}
header div p {
  margin: 2px 2px 6px;
}
nav section {
  background: #eeeeee;
  font-family: "Consolas", sans-serif;
  margin-bottom: 1px;
  padding: 5px;
}
nav section input[type="number"] {
  margin-right: 2px;
  width: 50px;
}
nav section button {
  cursor: pointer;
  position: relative;
  left: -8px;
  top: 0;
}
nav section button.danger {
  background: #ff5555;
  color: #ffffff;
}
nav section button.button-img {
  width: 26px;
}
nav section button.button-text {
  position: relative;
  top: -1px;
  width: 130px;
}
section#sizeOpts button.button-text {
  position: relative;
  left: -14px;
  width: 55px;
}
section#drawOpts {
  padding-bottom: 2px;
}
section#drawOpts label {
  display: inline-block;
  margin-left: -4px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}
section#drawOpts button {
  left: -2px;
  top: -2px;
}

section#container {
  background-color: #ffffff;
  height: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}

section#generated-images {
  background: #dddddd;
  display: none;
  float: left;
  overflow-y: scroll;
  padding-left: 10px;
}
section#generated-images a {
  color: #000;
  text-decoration: none;
}
section#generated-images div.gen-img {
  background-color: #eee;
  border: 2px dashed #888;
  margin-bottom: 5px;
  padding: 5px;
}
section#generated-images div.gen-img span.img-header {
  border: none;
  font-family: monospace;
  font-size: 0.9em;
}
section#generated-images div.gen-img a.gen-img-x {
  color: #880000;
  font-family: monospace;
  font-size: 0.9em;
  text-decoration: none;
}
section#generated-images div.gen-img a.gen-img-x:hover {
  color: #ff0000;
}
section#generated-images div.gen-img img {
  border: 1px solid #777777;
  display: block;
  margin: 5px auto;
}
section#generated-images div.gen-img div.file-links a.file-link {
  border-bottom: 2px dotted #444;
  display: inline-block;
  font-size: 0.9em;
}
section#generated-images div.gen-img div.file-links a.file-link:hover {
  border-bottom: 2px dashed #222;
}

/* custom classes */
.square {
  cursor: url(../img/pencil-24.png), pointer;
  display: inline-block;
  border: 1px solid #777777;
  float: left;
}
